.experience {
  background-color: var(--bg-secondary);
  color: var(--color-white);

  padding: var(--gap-8) var(--gap-5);
}

.experience .container h2 {
  padding-bottom: var(--gap-3);
  color: var(--color-white);
  font-size: 4rem;
  font-weight: 500;
}

.experience .container h2 span {
  color: var(--color-main);
}

.experience .container #experience {
  margin-top: var(--gap-4);
  display: flex;
  gap: 40px;
}

.experience .container #experience .option-experience {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.experience .container #experience .option-experience .activeExperience {
  border-left: 4px solid var(--color-main);
  color: var(--color-main);
}

.experience .container #experience .option-experience .activeExperience h3 {
  font-weight: 600;
}

.experience .container #experience .option-experience div {
  padding: var(--gap-3) var(--gap-4);
  text-align: left;
  background-color: var(--bg-main);
  border-left: 4px solid var(--bg-main);
}

.experience .container #experience .option-experience div:hover {
  cursor: pointer;
}

.experience .container #experience .option-experience div h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.experience .container #experience .text-experience {
  width: 75%;
}

.experience .container #experience .text-experience div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience .container #experience .text-experience div h4 {
  font-size: 2.4rem;
  font-weight: 400;
}

.experience .container #experience .text-experience div p {
  font-size: 1.8rem;
  color: var(--color-gray);
}

.experience .container #experience .text-experience h5 {
  font-size: 2rem;
  margin: var(--gap-4) var(--gap-0);
  font-weight: 500;
  color: var(--color-main);
}

.experience .container #experience .text-experience p {
  font-size: 2rem;
  line-height: 160%;
  color: var(--color-gray);
  font-weight: 400;
}

/* Responsive-Desktop */
@media screen and (max-width: 1200px) {
  .experience .container #experience {
    flex-wrap: wrap;
  }

  .experience .container #experience .option-experience {
    width: 100%;
  }

  .experience .container #experience .text-experience {
    width: 100%;
  }

  .experience .container #experience .text-experience div {
    flex-wrap: wrap;
    gap: var(--gap-4);
  }
}

/* Responsive-Tablet */
@media screen and (max-width: 992px) {
  .experience {
    padding: var(--gap-5) var(--gap-3);
  }
}

/* Responsive-Mobile */
@media screen and (max-width: 768px) {
  @content;
}