@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* --color-main: #986dff; */
  --color-main: #f88f06;
  --color-white: #FFFFFF;
  --color-gray: #9CA3AF;
  --color-red: #E51D37;
  --color-blue: #00A3FF;
  --color-green: #A6FB98;
  --color-purple: #536FDE;
  --bg-main: #111111;
  --bg-secondary: #151515;
  --bg-border: #1F1F1F;

  --gap-0: 0px;
  --gap-1: 8px;
  --gap-2: 16px;
  --gap-3: 24px;
  --gap-4: 32px;
  --gap-5: 48px;
  --gap-6: 64px;
  --gap-7: 72px;
  --gap-8: 96px;
  --gap-9: 128px;
}

::selection {
  background-color: var(--color-main);
  color: #FFFFFF;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus {
  border: 0;
}

input:focus {
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: var(--gap-1);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: var(--gap-1);
}


.typerwriter::after {
  content: '|';
  margin-left: 8px;
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--color-main);
}

@keyframes blink {
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}